matplotlib==3.5.2
numpy==1.22.4
onnx==1.16.1
onnx-graphsurgeon==0.5.2
onnxconverter-common==1.14.0
onnxruntime==1.18.1
onnxruntime-gpu==1.18.1
pandas==2.2.2
scikit-learn==1.1.2
scipy==1.13.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==2.3.1a
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4
xlsxwriter==3.2.0